body {
    display: flex;
    flex-direction: column;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  .nav-section {
    width: 100%;
    height: 50px;
    background-color:white;
    display: flex;
    flex-direction: row;
  }

    .firstsection {
        width: 100%;
        height: 600px;
        background-color:white;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        align-content: flex-end;
        margin-left: 70px;

  }
  
  .order-now {
      width: 100px;
      height: 40px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #F6B400;
      border-color: white;
      margin-top: 100px;
      margin-left: 75px;
      flex-direction: row;
  }
  .city-image-alignment {
      position:absolute;
      left: 550px;
      top: 150px;
      height: auto; 
      width: auto; 
      max-width: 400px; 
      max-height: 400px;
      

  }
  .secondsection {
    width: 100%;
    height: 500px;
;
    background-color:#E1EBE6;
    background-clip: content-box;

    text-align: center;
  }
  
  .thirdsection {
    width: 100%;
    height: 500px;
;
    background-color:white;
    background-clip: content-box;

    text-align: center;
  }
  
  .forthsection {
    width: 100%;
    height: 500px;
;
    background-color:white;
    background-clip: content-box;

    text-align: center;
  }
  .fifthection {
    width: 100%;
    height: 500px;
;
    background-color:#E1EBE6;
    background-clip: content-box;

    text-align: center;
  }
  .sixthsection {
    width: 100%;
    height: 500px;
;
    background-color:#E1EBE6;
    background-clip: content-box;

    text-align: center;
  }

  .icon-alignment {
      float: left;
      position: relative;

  }

  em {
    color: #F6B400;
  }

 .burger-logo {
     text-align: left;
     padding-top: 25px;
     position: relative;
     font-weight: 800;
   }
   a:hover {
    border-bottom: 2px solid red;
}
.home {
    text-align: left;
    padding-top: 25px;
    margin-left: 300px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

   }
.offers {
    position: relative;
    text-align: right;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px
}
.contact {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px
}
.about {
    text-align: right;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px
}
.subsection1 {

}
.header-advert {
    display: flex;
    flex-direction: column;
    text-align:left;
    bottom: 60px;
    left: 40px;
}
.advert {

}

